* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/background.jpg);
  background-position: center; /* img centralizada */
  background-size: cover; /* img cobre toda vh */
  background-repeat: no-repeat; /* img não se repete */

  /* elemento play vídeo sobreposto */
  display: grid;
  place-content: center;
  height: 100vh;
}

#app {
  display: grid;
  grid-template-columns: max-content max-content; /* 2 colunas*/
  grid-template-rows: max-content max-content max-content; /* 3 linhas */
  grid-template-areas: /* IMPORTANTE: o aside preenche toda a 1º coluna */
    "aside header"
    "aside main"
    "aside footer";
}

/* Conectando os elementos */
header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* NavBar */
.nav-bar {
  display: flex;
  padding: 0.5rem 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  border-radius: 5rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.05),
    0px 1px 1px 0px rgba(255, 255, 255, 0.3) inset,
    0px -1px 1px 0px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(16px);
}

.nav-bar actions {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.nav-bar actions ion-icons {
  width: 1.5rem;
  height: 1.5rem;
  color: #ffffff;

  opacity: 0.8;

  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}

.nav-bar adress-bar {
  display: flex;
  width: 27.5rem;
  padding: 0.75rem;
  justify-content: space-between;
  align-items: center;

  border-radius: 5rem;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.1) inset,
    0px 1px 0px 0px rgba(0, 0, 0, 0.2) inset;

  color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.nav-bar adress-bar ion-icon {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  opacity: 0.8;
}

.screen {
  width: 60rem;
  height: 33.75rem;

  border-radius: 2rem;
  /* Box-shadow importado da NavBar */
  box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  position: relative;
}

/* P/ bordas com degradê */
.screen::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255 / 0.1),
    rgb(255, 255, 255 /0.6)
  );

  border-radius: inherit;
  margin: -1px;
  z-index: -1;
}

iframe {
  width: 100%;
  height: 100%;

  border-radius: inherit;
}

.interaction {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.interaction .elipse {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
}

.interaction .rectangle {
  width: 5.375rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
}

/* Side Menu */
.side-menu {
  display: flex;
  padding: 0.75rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;

  border-radius: 5rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.05),
    0px 1px 1px 0px rgba(255, 255, 255, 0.3) inset,
    0px -1px 1px 0px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(16px); /* glassmorfismo */
}

.side-menu ion-icon {
  display: flex;
  padding: 0.5rem;
  align-items: flex-start;
  border-radius: 5rem;

  width: 1.5rem;
  height: 1.5rem;

  color: #ffffff; /* Cor só aparece quando hover*/
  opacity: 0.8; /* Somente necessária uma casa decimal na import figma */
}

.side-menu ion-icon:hover {
  background: rgba(255, 255, 255, 0.2);
  opacity: 1;
}
